
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  
  min-height: 100vh;
 
}
::selection{
  color: #fff;
  background: #e73758;
}
.container{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fff;
 
  transition: height 0.2s ease;
 
  
}
.container.active{
  height: 100vh;
}
.container .wrapper{
  width: 100%;
 
  
}
.container .wrapper section{
  width: 100%;
  background: #fff;
  height: 100vh;
 
  
}
.container img{
  cursor: pointer;
}
.container .post{
  transition: margin-left 0.18s ease;
}
.container.active .post{
  margin-left: -100%;
}

.post header{
  font-size: 22px;
  font-weight: 600;
  padding: 17px 0;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
}
.post form{
  padding: 20px 10px 120px;
  overflow-y: scroll;
  height: 100vh;
}
form .content,
.audience .list li .column{
  display: flex;
  align-items: center;
}
form .content img{
  cursor: default;
  max-width: 52px;
  height: 52px;
  border-radius: 50%;
}
 form .content .details{
  margin: -3px 0 0 12px;
}
form .content .details p{
  font-size: 15px;
  font-weight: bold;
}
.content .details .privacy{
  display: flex;
  height: 25px;
  cursor: pointer;
  padding: 0 10px;
  font-size: 11px;
  margin-top: 10px;
  border-radius: 5px;
  align-items: center;
  max-width: 98px;
  background: #E4E6EB;
  justify-content: space-between;
  display: none;
}
.details .privacy span{
  font-size: 13px;
  margin-top: 1px;
  font-weight: 500;
}
.details .privacy i:last-child{
  font-size: 17px;
  margin-left: 10px;}

form :where(textarea, button){
  width: 100%;
  outline: none;
  border: none;
}
.tagmate-hiliter{
  display: none;
}
.tagmate-hiliter, .tagmate-container{width: 100% !important;}
form textarea{
    resize: none;
    font-size: 14px;
    margin-top: 20px !important;
    min-height: 50px;
    border: 1px solid #ccc;
    border-radius: 9px;
    padding: 15px;
    font-weight: normal;
    font-family: inherit;
}
form textarea::placeholder{
  color: #858585;
}
form textarea:focus::placeholder{
  color: #b3b3b3;
}
form :where(.theme-emoji, .options){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-emoji img:last-child{
  max-width: 24px;
}
form .options{
 margin-top: 20px;
}

form .options :where(.list, li),
.show :where(.arrow-back, .icon, li .radio){
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.arrow-back i{
  line-height:35px;
}
form .options p{
  color: #595959;
  font-size: 15px;
  font-weight: 500;
  cursor: default;
}
form .options .list{
  list-style: none;
  display: block;
  margin: 0;
  background-color: #fff;
  border:1px solid #ddd;
}
.options .list li{

 font-weight: 600;
  margin: 0 -1px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  border-radius: 0px;
  color:#999;
}
.options .list li i{
  font-size: 23px;
    color: #666;
    margin-right: 10px;
}

.options .list li img{
  width: 23px;
}

form button{
  height: 53px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  cursor: no-drop;
  border-radius: 7px;
  background: #e73758;
  transition: all 0.3s ease;
}
form textarea:valid ~ button{
  color: #fff;
  cursor: pointer;
  background: #4599FF;
}
form textarea:valid ~ button:hover{
  background: #1a81ff;
}
.container .hide{
  opacity: 0;
  transition: opacity 0.12s ease;
}
 .container.active .show{
  opacity: 1;
  position:absolute;
  top:0px;
}
.wrapper header{
  padding: 17px 0;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
  background-color: #e73758;
  color: #fff;
  border-radius: 0px;
}
.wrapper header .arrow-back{
  position: absolute;
  left: 25px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 15px;
  color: #747474;
  border-radius: 50%;
  background: #E4E6EB;
  top:11px;
}
.wrapper header p{
  font-size: 22px;
  font-weight: 600;
}
 .content{
  margin: 20px 25px 0;
}
.wrapper header p{
  font-size: 17px;
  font-weight: 500;
  font-weight: bold;
}
.audience .content span{
  font-size: 14px;
  color: #65676B;
}
 .list{
  margin: 15px 16px 20px;
  list-style: none;
}
 .list li{
  display: block;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 12px 10px;
  border-radius: 7px;
  align-items: center;
  justify-content: space-between;
}
.audience .list li{
  display: flex;
}
.list li.active,
.audience .list li.active:hover{
  background: #E5F1FF;
}

 .list li .column .icon{
  height: 50px;
  width: 50px;
  color: #333;
  font-size: 23px;
  border-radius: 50%;
  background: #E4E6EB;
  text-align: center;
}
.list li .column .icon i{line-height: 47px;}
.audience .list li.active .column .icon{
  background: #cce4ff;
}
.audience .list li .column .details{
  margin-left: 15px;
}
.list li .column .details p{
  font-weight: 500;
}
.list li .column .details span{
  font-size: 14px;
  color: #65676B;
}
.list li .radio{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #707070;
}
.list li.active .radio{
  border: 2px solid #4599FF;
}
.list li .radio::before{
  content: "";
  width: 12px;
  height: 12px;
  border-radius: inherit;
}
.list li.active .radio::before{
  background: #4599FF;
}

.drag-area .icon {
  font-size: 50px;
  color: #1683ff;
}
.drag-area h5{color:#666;}

.drag-area .header {
  font-size: 20px;
  font-weight: 500;
  color: #34495e;
}

.drag-area .support {
  font-size: 12px;
  color: gray;
  margin: 10px 0 15px 0;
}
.drag-area .fa-picture-o{
  position: absolute;
  left: 0;
  top: -1px;
  font-size: 20px;
}

.drag-area .button {
  font-size: 20px;
  font-weight: 500;
  color: #1683ff;
  cursor: pointer;
}

.drag-area.active {
  border: 2px solid #1683ff;
}

.drag-area {
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  margin-top: 20px;
}

/*.drag-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
*/
.tagmate-container{position: relative;}
.menu {
  overflow: auto;
 z-index: 99;
  background: #fff;
  width: 100% !important;
  top: 100px !important;
  min-height: 200px;
  overflow-y: scroll;
  box-shadow: 1px 2px 5px #999;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
}
.menu .option{
  margin-bottom: 5px;
}
.menu .option span{
  padding: 10px;
  background-color:#eee ;
  display: block;
  margin-bottom: 5px;
  border-radius: 4px;
}
.menu .option span::before{
  content: "#";
  padding-right: 0px;
  font-weight: bold;
  display: inline-block;
}

.apnd-img {
  float: left;
  margin: 5px;
  max-height: 70px;
  max-width: 70px;
  min-height: 70px;
  min-width: 70px;
  padding: 6px;
  position: relative;
  width: 100%;
  text-align: center;
  border: 1px solid #d2d2d2;
  overflow: hidden;
}
.apnd-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.apnd-img i {
  position: absolute;
  right: 6px;
  top: 4px;
  color: #d2d2d2;
}

.drag-area img {
  /*max-width: 50%;
    max-height: 144px;
  padding: 5px;
  vertical-align: middle;
  text-align: center;*/
}

.gall .video::before{
  content: "✎";
  font-size: 30px;
    color: #fff;
    display: block;
    position: absolute;
    z-index: 99;
    
}

@supports (object-fit: cover) {
  /*.drag-area img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }*/
}

.fileinput{
  text-align: center;
  padding-top: 10px;
  line-height: 22px;
  color: #999;

}

.fileinput.active{
    padding: 3px 10px;
}

.fileinput i{
  font-size: 30px;
  
}
.fileinput.active i{
  font-size: 10px;
}
.fileinput #file-input{
  display:none;
}

.fileinput label[for='file-input'] *{
  vertical-align:middle;
  cursor:pointer;
}

.fileinput label[for='file-input'] span{
  font-weight: bold;
}

.fileinput i.remove{
  vertical-align:middle;
  margin-left: 5px;
  cursor:pointer;
  display:none;
}

div#searchBox {
  float: none;
  text-align: center;
  color: #777;
  width: 100%;
  display: inline-block;
}

#searchform {
  border-bottom: 1px solid #ccc;
  padding: 8px 0 0;
}

#searchform input {
  border: 0px;
  background: transparent;
  padding: 8px 10px 5px;
  outline: none;
}

.mobile-form #searchform {
  padding-top: 2.5px;
  width: 70%;
}

div#searchBox #searchform {
  border: 1px solid #ddd;
  padding: 3px;
  width: 100%;
  border-radius: 18px;
  background-color: #fff;
  margin-bottom: 10px;
 
}

div#searchBox #searchform input {
  padding: 5px;
  display: block;
}

#searchBox i.fa.fa-search {
  padding: 8px;
  cursor: pointer;
}

.sb-icon-search,
.sb-search-submit {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.sb-search-submit {
  background: #fff;
  /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: 100;
}

div#searchBox #searchform .sb-icon-search {
  /* color: #fff; */
  /* background: #3f91c3; */
  z-index: 90;
  /* font-size: 22px; */
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  top: -1px;
}

div#searchBox #searchform .sb-icon-search:before {
  content: "\f002";
}

span#noEasy {
  display: block;
  /* overflow: hidden; */
  position: relative;
  width: 30px;
  height: 30px;
  float: left;
  padding-left: 3px;
}

span#noEasy input {
  width: 30px;
  padding: 0 !important;
}

input#sbox {
  line-height: 31px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
span#noEasy:hover {
  color: #444;
}
/*.done-top{
  position: absolute;
  right: 0;
  font-size: 12px;
  padding-right: 15px;
 color: #fff;
  height: 35px;
 line-height: 32px;
 font-weight: 600;
}*/

.done{
display: inline-block;
width: 25%;
text-align: right;
}

.tag-container, .tag-container1
{
	background-color: #fff;
	padding: 16px 10px;
	border-radius:var(--com-rad);
	outline: 1px solid #00000022;
 height: 70px;
  margin-top: 20px;
  
  border-radius: 8px;
  overflow-y: scroll;
}
.tag{
	padding: 5px 15px;
	background-color: #e73758;
	color: #fff;
	border-radius: var(--com-rad);
	font-size: 0.9rem;
  display: inline-block;
	margin: 3px;
  border-radius: 8px;
  width: 105px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
span.tag i{
	padding-left: 10px;
	font-size: 0.8rem;
	transition: 0.3s;
  position: absolute;
  top: 8px;
  right: 6px;
}
span.tag i:hover
{
	transform: scale(1.3);
}

.drop-down-con
{
	min-width:700px;
	padding: 10px;
	display: flex;
	justify-content: space-between;	
	flex-direction: row;
}
.drop-down-box
{
	width: 100%;
}
.drop-down-box h3
{
	
	display: flex;
}
.drop-down
{

	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width:250px;
	width: 100%;
	background-color: #fff;
	padding: 10px;
	border-radius: var(--com-rad);
	outline: 1px solid #00000033;
	margin-top: 10px;
}
.drop-down span 
{
	font-size: 0.8rem;
}
.option-con
{
	max-width: 250px;
	background-color: #fff;
	border-radius: var(--com-rad);
	box-shadow: -10px 10px 10px #00000020,0px 10px 10px #00000020;
}
.option-con .option{
	display: block;
	width: 100%;
	text-indent: 10px;
	font-size: 0.8rem;
	padding: 13px 0;
	transition: 0.3s;
}
.option-con .option:hover
{
	background-color: #eaeaea;
}

/***********Suggestion list**************/

.list-wrapper {
  max-width:100%;
    margin: 50px auto 100px;
    overflow-y: scroll;
    max-height: 325px;
}

.list-holder {
  background: #fff;
  border-radius: 2px;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.list-item {
  display: flex;
  padding-bottom: 5px;
  padding-top: 5px;
 
}
.list-item:last-child {
  border-bottom: none;
}
.list-item.selected-list{
  position: relative;
  
}
.list-item-image {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
.list-item.selected-list .list-item-image{
  box-shadow: 0px 0px 8px #111;
  position: relative;
}

.list-item.selected-list::after{
    content: "✓";
    display: inline-block;
    color: #fff;
   
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 0;
    font-size: 13px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #e73758;
    border-radius: 50%;
}
.list-item-content {
  margin-left: 20px;
}
.list-item-content h4, .list-item-content p {
  margin: 0;
}
.list-item-content h4 {
  margin-top: 20px;
  font-size: 15px;
}
.list-item-content p {
  margin-top: 5px;
  color: #aaa;
}

.arrow-top{
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
}

input.autosuggestion{
  width:100%;
  height:37px;
  border-radius:6px;
  border:1px solid #ccc;
  padding:0 15px;
  margin:20px auto 0px;
  display:block;
  font-weight: 600;
  background-color: #f1f1f1;
}

#file_post[type=file] {
  
  overflow: hidden;
  width: 100%;
  border:3px  solid #e73758;
  padding:10px;
  color: #999;
  font-weight: bold;
}

#file_post[type=file] + label {
  background: #e73758;
  border: none;
 width: 108px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 11px;
  position: absolute;
  left: 3px;
  top: 46px;
  z-index: 0;
  transition: all 0.3s;
  vertical-align: middle;
}
#file_post[type=file] + label:hover {
  background-color: #d3460d;
}
.tagpeoples{
  position: relative;
}
.tagpeoples i{
  position: absolute;
  top: 10px;
  right: 11px;
  color: #999;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list-wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.keywords-label{
  margin-top: 20px;
  margin-bottom: 10px;
}
.keywords-label label{
  font-size: 12px;
  font-weight: bold;
  color:#666;
  margin-bottom: 10px;
  display: block;
}
    .bootstrap-tagsinput {
  margin: 0;
  width: 100%;
  padding: 0.5rem 0.75rem 0;
  font-size: 1rem;
  line-height: 1.25;
  transition: border-color 0.15s ease-in-out;
  box-shadow: none;
}
.bootstrap-tagsinput.has-focus {
  background-color: #fff;
  border-color: #5cb3fd;
}
.bootstrap-tagsinput .label-info {
  width: auto;
  vertical-align: top;
}
.bootstrap-tagsinput input {
  margin-bottom: 0.5em;
}

.bootstrap-tagsinput .tag [data-role=remove]:after {
  content: "×";
}
.text-muted{color:#ccc;}
.done-btn{
    background-color: #e73758;
    padding: 10px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 200px;
    margin: 0 auto;
}

.done-btn a{
color: #fff;
font-weight: bold;
display: block;
}

input:focus-visible, textarea:focus-visible{
  outline: 1px solid #5cb3fd;
}

.bootstrap-tagsinput input:focus-visible{
  outline: none;
}

.myclub-list{
  margin: 0;
    padding: 10px;
    background-color: #fff;
    border-radius:6px;
    margin-bottom: 10px;
   
    position: relative;
    top: -18px;
    border: 1px solid #ddd;
    
}

.myclub-list ul li{
  border-bottom: 1px solid #ddd;
}

.myclub-list ul li a img{
  border: 1px solid red;
  padding: 5px;
  border-radius: 16px;
}

div#searchBox.myclubsearch{
 
  margin: 0 auto 0px;
  position: relative;
  top: -20px;
}

.mygrop-holder ul li:first-child{
  border-top: 0px;
}

div#searchBox.myclubsearch #searchform{
 
 margin: 0 auto;
 border-radius: 6px;
}

div#searchBox.myclubsearch #searchform input{
  width: 90%;
}
.grp-title-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.mygrop-holder ul{
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-top: 10px;
}

.grp-title-btn #add_btn{
  margin-bottom: 0px;
}
